<section class="authorization">
  <h1 id="register">Login</h1>

  <form action="/login" method="post">
    <%= "<p class='error'>#{login_error}</p>" if defined?(login_error) %>
    <table>
      <tr>
        <td class="label"><label for="user_email">Email</label></td>
        <td><input name="user_email" type="text"></td>
      </tr>
      <tr>
        <td class="label"><label for="user_password">Password</label></td>
        <td><input name="user_password" type="password"></td>
      </tr>
    </table>
    <input type="submit" value="Login">
  </form>
</section>