<section>
  <h1 id="register">Register</h1>
  <form action="/register" method="post">
    <%= "<p class='error'>#{registration_error}</p>" if defined?(registration_error) %>
    <table>
      <tr>
        <td class="label"><label for="user_email">Email</label></td>
        <td><input name="user_email" type="text"></td>
      </tr>
      <tr>
        <td class="label"><label for="user_password">Password</label></td>
        <td><input name="user_password" type="password"></td>
      </tr>
      <tr>
        <td class="label"><label for="confirm_password">Confirm Password</label></td>
        <td><input name="confirm_password" type="password"></td>
      </tr>
    </table>
    <input type="submit" value="Register">
  </form>
</section>