body {
    background-color: orange;
}
nav{
    padding:.5em 2em;
    background-color:rgba(255, 255, 255, 0.5);
    overflow: hidden;
}
section{
    width: 50%;
    margin: 10% auto;
    padding: 2em;
    clear: both;
}
h1#register, input[type='submit'], .error{
margin-left: 20%;
}
table{
    width:100%;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.users{
    width:50%;
    border:2px solid #000000;
    background: #fff;
}
.users td, .users th{
    padding:.3em;
}
.users td:first-child, .users th:first-child{
    border-right:2px solid #000000;
}
.users tr:nth-child(even){
    background-color:#d3d3d3;
}
.users th{
    text-align:left;
    background-color:lightslategray;
}
td{
    padding: 0 1em 2em 0;
}
td.label{
    width:20%
}
input{
    padding: 5px;
    width: 100%;
}
input[type='submit']{
    width:5em;
}
.error{
    color: #ff0000;
}
